<section id="noticias" class="padded">
  <div class="container">
    <h2>Noticias  </h2>
    <div class="row">
      <!-- (article.col>h3{Noticia $}+p>lorem)*4 -->
      <article class="col">
        <h3>Noticia 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, tempora voluptas quaerat ullam soluta laboriosam aperiam? Blanditiis assumenda fugit totam molestias? Qui quos et illo nobis laudantium deserunt maxime nihil?</p>
      </article>
      <article class="col">
        <h3>Noticia 2</h3> 
        <p>Reiciendis at aut a quaerat ducimus ipsa architecto id minus suscipit aliquid dicta laudantium natus porro, est laborum doloribus et officiis nemo omnis obcaecati totam doloremque corporis magni odio? Neque!</p>
      </article>
      <article class="col">
        <h3>Noticia 3</h3>
        <p>Consectetur facere fuga laboriosam praesentium officia nobis quasi repellendus debitis eligendi et, excepturi quibusdam doloribus quod eos at. Non aliquid cum, sit neque distinctio ea tempora rerum tempore blanditiis pariatur?</p>
      </article>
      <article class="col">
        <h3>Noticia 4</h3>
        <p>Perspiciatis provident debitis atque itaque aspernatur, quo unde libero reiciendis dolorum veritatis repellat iusto facere quos? Reprehenderit atque fuga ipsam eius provident at nostrum incidunt eum! Enim sed incidunt magnam.</p>
      </article>
    </div>
  </div>
</section>
