<section id="tablacategorias" class="padded">
  <div class="container">
    <h2>Categorias</h2>

    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Nueva categoria
      </a>
      <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Cerrar
      </button> -->
    </p>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form ngNativeValidate [formGroup] ="categoriasAgregarForms"
        (ngSubmit)="agregarCategoria(categoriasAgregarForms.value)">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nombre"
            formControlName = "nombre"
            required minlength="2">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Descripcion"
            formControlName = "descripcion"
            required minlength="4">
          </div>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>cod</th>
          <th>nombre</th>
          <th>descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filaCategoria of listaCategorias">
          <td>{{filaCategoria.idcategoria}}</td>
          <td>{{filaCategoria.nombre}}</td>
          <td>{{filaCategoria.descripcion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
